@import url('https://fonts.cdnfonts.com/css/gotham-htf');
@import "tailwindcss";
/* Add Gotham HTF font */

:root {
  /* --ksk-green-light: #CEF2E9; */
  /* --ksk-pink-light: #cd89cc; */
  --ksk-pink: #91278F;
  --ksk-green: #7DBAAB;
  --ksk-purple: #5C0F8B;
  --ksk-grey: #54565A;
  --app-height: 100vh;
  --default-font-family: 'Gotham HTF Light', sans-serif;
}

.main-body {
  background-color: #232933;
}

.main-body .ant-card.jz-card {
  border-radius: 0px;
  width: 100%;
  max-width: 450px;
}

.main-body .ant-card.jz-card .jz-card-body {
  height: var(--app-height);
}

.ant-card.jz-card .ant-card-body {
  padding: 0px;
  background: white;
  /* Removed gradient */
  border-radius: 0px;
}

li a.flex {
  color: var(--ksk-grey);
}

li a.flex.text-primary {
  color: var(--ksk-purple);
}

.bottom-nav {
  background-color: var(--ksk-green);
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.peop-height {
  height: calc(var(--app-height) - 200px)
}

.hist-height {
  height: calc(var(--app-height) - 155px)
}

.ksk-button {
  background-color: var(--ksk-green);
  color: white;
  border-radius: 0px;
  font-family: var(--default-font-family);
}
.ksk-button:hover {
  background-color: var(--ksk-purple);
}
.ksk-button-secondary{
  border-radius: 0px;
  background-color: var(--ksk-grey);
  color: white;
}
.ksk-button-secondary:hover {
  background-color: var(--ksk-purple);
}